@import 'settings';
@import 'foundation';



.white {
  color:#FFF;
}






.footer__row {

  background:#F0AD00;

  a {
    color:#000;
  }

}

.footer__contact__intro {

  width:60px;
  color:#FFF;
  font-weight: bold;
  display: block;
  float:left;
  font-size:15px;

}

.footer__contact__address {

  height:60px;
  font-size:15px;

}

.footer__contact__detail {

  font-size:15px;

}

.footer__social {
  width:auto;
  margin:0 auto;
  padding-top:10px;
}
  .footer__social a {
    float:right;
    margin-right:10px;
  }
  .footer__social a:first-child {
    margin-right:0px;
  }
