---
subject: Discover Life Shaped Learning
---
<container>

  <!-- Client Provided Header -->
  <row>
    <columns small="12" large="12">
      <p id="text-placeholder" style="text-align: center; margin-top: 0px; margin-bottom: 0px;">
        <font size="1">
          This message contains graphics. If you do not see the graphics, you can <a href="%%view_email_url%%" title="click here to view" alias="click here to view" conversion="undefined">view the online version</a>.<br />
        </font>
      </p>
      <br />
      <p style="font-size: 10pt; font-family: Arial;">Dear %%FIRSTNAME%%,</p>
      <p style="font-size: 10pt; font-family: Arial;">Please see the below information from.... that we hope you find of interest.</p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="hr"></div>
    </columns>
  </row>
  <!-- /Client Provided Header -->


  <!-- Header -->
  <row class="collapse">
    <columns small="12" large="12" style="padding-bottom:0px;">
      <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/1-header.jpg" alt="Discover Life Shaped Learning" />
    </columns>
  </row>
  <!-- Header -->


  <!-- Award Winning -->
  <row class="collapse">
    <columns small="12" large="12" style="padding-bottom:0px;">
      <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/2-award-winning.jpg" alt="Award Winning" />
    </columns>
  </row>
  <!-- /Award Winning -->

  <!-- View Courses -->
  <row class="collapse">
    <columns small="12" large="12" style="padding-bottom:0px;">
      <a href="http://www.coventry.ac.uk/cul/study/full-time/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=full-time%20courses&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/1.gif" alt="Discover Life Shaped Learning" />
      </a>
    </columns>
  </row>
  <!-- /View Courses -->


  <!--Courses -->
  <row class="collapse">
    <columns small="12" large="12" style="padding-bottom:0px;">
      <a href="http://www.coventry.ac.uk/cul/study/full-time/?utm_source=UCAS%20email&utm_campaign=digital%2017%2F18%20cul&utm_medium=Email&utm_term=generic&utm_content=view%20courses" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/3-courses.jpg" alt="View Our Courses" />
      </a>
    </columns>
  </row>
  <!-- /Courses-->

  <!-- /Courses Row 1 -->
  <row style="margin-top:20px;">
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/business-and-law/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=business%20%26%20law&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__buisiness-law.jpg" alt="Course, Business Law"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/management-professional-accounting/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=accounting&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__accounting.jpg" alt="Course, Accounting"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/biological-and-chemical-sciences/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=bio%20%26%20chem%20science&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__biological-chemcial-sciences.jpg" alt="Course, Biological &amp; Chemcial Sciences"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/counselling/?utm_source=UCAS%20email%202&utm_campaign=digital%2017%2F18%20cul&utm_medium=email&utm_term=generic&utm_content=counselling" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__counselling.jpg" alt="Course, Counselling"  />
      </a>
    </columns>
  </row>
  <!-- /Courses Row 1 -->

  <!-- Courses Row 2 -->
  <row>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/childhood-development-learning/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=early%20childhood&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__early-childhood.jpg" alt="Course, Early Childhood"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/combined-engineering/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=combined%20engineering&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__combined-engineering.jpg" alt="Course, Combined Engineering"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/financial-services/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=financial%20services&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__financial.jpg" alt="Course, Financial Services"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/public-health/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=public%20health&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-coures_public-health.jpg" alt="Course, Public Health"  />
      </a>
    </columns>
  </row>
  <!-- /Courses Row 2 -->


  <!-- Courses Row 3 -->
  <row>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/law-and-practice/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=law&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-coures__law.jpg" alt="Course, Law"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/management-and-leadership/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=business%20management%20leadership&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__management-lead.jpg" alt="Course, Management &amp; Leadership"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/policing/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=policing&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__policing.jpg" alt="Course, Course, Policing"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/information-technology-practitioner/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=it&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses_it-tech.jpg" alt="Course, IT"  />
      </a>
    </columns>
  </row>
  <!-- /Courses Row 3 -->

  <!-- Courses Row 4 -->
  <row>
    <columns small="6" large="3" class="show-for-large">
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/strategic-sales-and-marketing-management/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=marketing&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses_marketing.jpg" alt="Course, Marketing"  />
      </a>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.coventry.ac.uk/cul/course-structure/hnc-hnd-degree/2017-18/strategic-tourism-and-hospitality-management/?utm_source=UCAS%20email%202&utm_medium=email&utm_campaign=digital%2017%2F18%20cul&utm_content=tourism%20%26%20hosp&utm_term=generic" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/CU0094-courses__tourism.jpg" alt="Course, Hospitality"  />
      </a>
    </columns>
    <columns small="6" large="3" class="show-for-large">
    </columns>
  </row>
  <!-- /Courses Row 4 -->


  <!-- Courses -->
  <row class="collapse">
    <columns small="12" large="12" style="padding-bottom:0px;">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/2.gif" alt="" />
    </columns>
  </row>
  <!-- /Courses -->

  <!-- Statistics -->
  <row class="collapse">
    <columns style="padding-bottom:0px" small="12" large="12">
      <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/stats.jpg" alt="Statistics" />
    </columns>
  </row>
  <!-- /Statistics -->


  <!-- Footer -->
  <row class="footer__row">
    <columns small="12" large="6" style="padding-bottom:0px;">
      <p class="footer__contact" style="padding-top:20px;">
        <span class="footer__contact__intro">
          Talk.
        </span>
        <span class="footer__contact__detail">
          <a href="tel:+442038730700">
            +44 (0)203 873 0700
          </a>
        </span>
      </p>
      <p class="footer__contact">
        <span class="footer__contact__intro">
          Write.
        </span>
        <span class="footer__contact__detail">
          <a href="mailto:culondon@coventry.ac.uk">
            culondon@coventry.ac.uk
          </a>
        </span>
      </p>
      <p class="footer__contact">
        <span class="footer__contact__intro">
          See.
        </span>
        <span class="footer__contact__detail">
          <a href="http://www.coventry.ac.uk/cul" target="_blank">
            www.coventry.ac.uk/<span class="white">cul</span>
          </a>
        </span>
      </p>
      <p class="footer__contact">
        <span class="footer__contact__intro footer__contact__address">
          Visit.
        </span>
        <span class="footer__contact__detail">
          Civic Centre, Rainham Road North, Dagenham RM10 7BM
        </span>
      </p>
    </columns>
    <columns small="12" large="6">
      <a href="http://www.coventry.ac.uk/cuc" target="_blank">
        <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/cul-logo.png" alt="CUL Logo" style="padding-top:20px;" />
      </a>
      <div class="footer__social">
        <a href="https://twitter.com/LondonCu" target="_blank">
          <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/social-twitter.jpg" alt="Twitter Icon" width="25" height="25" />
        </a>
        <a href="https://www.facebook.com/culondon" target="_blank">
          <img src="http://static.oscdn.co.uk/mjdconsultancy_com/108643/social-facebook.jpg" alt="Facebook Icon" width="25" height="25" />
        </a>
      </div>
    </columns>
  </row>
  <!-- /Footer -->


  <!-- Client Provided Footer -->
  <row>
    <columns small="12" large="12">
      <div class="hr"></div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p style="font-size: 10pt; font-family: Arial;">
        For more information on adding Extra courses including UCAS Extra, <a name="extra_1" href="http://www.ucas.com/how-it-all-works/undergraduate/tracking-your-application/adding-extra-choices" conversion="true" target="_blank">Click here</a>.
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        UCAS Media undertakes  emailings for companies who have information that we feel may be  relevant to prospective students. The income received from distributing  this information is gift-aided back to UCAS (which is a registered  charity) and used to minimise the costs of the UCAS application system  both to applicants and higher education institutions.
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        Whilst we hope that the information is useful, both UCAS Media and UCAS itself  do not endorse promotional information from any organisation. Please be  assured that your personal details have not been passed on to any third  parties. If you have any thoughts or suggestions on advertising and mailings, please contact us at <a target="_blank" href="mailto:ucasmedia@ucas.ac.uk" name="email1_1">ucasmedia@ucas.ac.uk</a>
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        We wish you every success in your studies.
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        Yours sincerely
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        UCAS Media
      </p>
      <p style="font-size: 10pt; font-family: Arial;">
        Please do not reply to this email.<br />
        For all matters concerning your application, visit www.ucas.com
      </p>
      <br />
      <img class="devicewidth" border="0" name="UCAS_Media_Logo.png" src="http://image.email.ucas.com/lib/fe9713727663067e75/m/1/Screen+Shot+2016-03-16+at+4.06.40+PM.png" alt="" />
      <br />
      <br />
      <p>
        <font size="2" face="arial" color="#c0c0c0">E-Mails are susceptible to interference. UCAS Media accepts no responsibility for information, errors or omissions in this e-mail nor for its use or misuse nor for any act committed or omitted in connection with this communication. If in doubt, please verify the authenticity of the contents with the sender. UCAS Media, Rosehill, New Barn Lane, Cheltenham, GL52 3LZ<br />
          <br />
          If you no longer wish to receive these emails, you can <a href="%%unsub_center_url%%" target="_blank">unsubscribe</a> here.</font>
      </p>
      <table width="620" cellspacing="5" cellpadding="5" border="0" align="center">
        <tbody>
        <tr>
        </tr>
        </tbody>
      </table>
      <p><span lang="EN-GB" style="font-size: 10pt; line-height: 115%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;" /></span></p>
      <p><span lang="EN-GB" style="font-size: 10pt; line-height: 115%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;" /></p>
      <p><strong><span style="color: rgb(0, 0, 0);" /></strong><b><font size="2" face="Arial"><span style="font-weight: bold; font-size: 10pt;" /></font></b><b><font size="2" face="Arial"><span style="font-weight: bold; font-size: 10pt;" /></font></b></p>
      <p></p>
    </columns>
  </row>
  <!-- /Client Provided Footer -->

</container>
